*.log
*.err
.ipynb_checkpoints
*.h5
*.bin
__pycache__
*.log
*.stdout
*.stderr
*.bkp
covid19_spread/data/nystate/raw-ny-*.csv
covid19_spread/data/nystate/data-ny-*.csv
covid19_spread/data/new-jersey/data-*.csv
covid19_spread/data/new-jersey/nj-official-*.csv
covid19_spread/data/usa/**/*.pt
covid19_spread/data/usa/fb/**/README.txt
covid19_spread/data/usa/fb/fb_mobility*
.cache
*.egg-info
build
dist
*.csv
covid19_spread/data/.sweep.db
cb_2018_us_county_20m.zip
us_counties
us_counties_index.geojson
gadm
gadm36_USA_shp.zip